/* GLOBAL STYLES */
body {
  background-repeat: no-repeat;
  background-size: 100% 80%;
  display: inline-block;
  background-image:url("my.jpg");
  /*justify-content: center;*/
}
.footer
{
  width: 10%;
  height: 10%;
  position: relative;
  left: 50%;
  background-color: white;
}
#fb,#git
{
  width: 20%;
  height: 20%;
  cursor: pointer;
  transition: 1.0s;
}
#git:hover,#fb:hover
{
width: 30%;
height: 30%;
}
#pos1:hover,#pos2:hover,#pos3:hover,.button:hover
{
  color: rgb(120, 255, 58);
  width: 10%;
  border-color: coral;
}
#on
{
  position: relative;
  left: 70%;
}
.button
{
    height: 10%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    display: inline-block;
    font-family: monospace;
    cursor: pointer;
    opacity: 1.0;
    border:2px solid white;
    border-radius :10px;
    margin:6px;
    text-align: center;
    transition: 1.0s;
}
.typewriter h1:hover,.typewriter h2:hover,.typewriter h3:hover
{
    color: coral;  
}
#tag:hover
{
  color: yellow;
}
#mypic
{
  position: relative;
  left: 70%;
  width: 30%;
  min-height: 90%;
  border-radius: 50%;
  transition: 1.0s; 
}
#mypic:hover
{
  border-radius: 45%;
}
#tag
{
  position: relative;
  left: 40%;
  top: 30px;
  color: white;
  width: 100%;
  transition: 2.0s;
}
#about
{
  color: black;
  position: relative;
  top: 110px;
  font-family: 'Courier New', Courier, monospace;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1,h2,h3 {
  transition: 1.0s;
  position: relative;
  left: 40%;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30,end),
    blink-caret .5s step-end;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}