/* GLOBAL STYLES */
body {
  background-repeat: no-repeat;
  background-size: 1172px 600px;
  display: flex;
  background-image:url("my.jpg");
  background-position-x: 5px;
  background-position-y: 5px;  
  padding-top: 5em;
  /*justify-content: center;*/
}
.footer
{
  background-color: yellow;
  position: relative;
  top: 300px;
  left: -1200px;
}
#fb
{
  position: absolute;
  left: 100px;
  top:250px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#git
{
  position: absolute;
left: 100px;
  top:300px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#on
{
    position: absolute;
    left: 800px;
    top: 50px;
}
.button
{
    height: 18px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    display: inline-block;
    font-family: monospace;
    cursor: pointer;
    opacity: 1.0;
}
#mypic
{
  position: absolute;
  left: -500px;
  top: 30px;
  height: 100%;
  width: 90%;
}
#pos1
{
    position: absolute;
    left: 25px;
}
#pos2
{
    position: absolute;
    left: 125px;
}
#pos3
{
    position: absolute;
    left: 225px;
    width: 125px;
}
#tag
{
  color: white;
  position: relative;
  width: 100%;
  top: 200px;
  left:800px;
}
#about
{
  color: black;
  position: relative;
  top: 500px;
  width: 90%;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  position:absolute;
  left: 800px;
  top: 125px;  
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end;
}
.typewriter h3 {
  position: absolute;
  left: 800px;
  top: 100px;  
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end;
}
.typewriter h2 {
  position:absolute;
  left: 800px;
  top: 200px;  
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 1.5s step-end;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}